body
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; 
    background-image: url(background.jpg);
    background-size: cover;
    height: 800px;

}
.sign-up-form
{
    width: 400px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0, 3);
    background: #fff;
    padding: 30px;
    margin: 12% auto 0;
    text-align: center;
}

.sign-up-form h1
{
    color: rebeccapurple;
    margin-bottom: 10px;
}
.input-box
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 85%;
    border: 1px solid;
    outline: none;
}
button
{
    color: black;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;

    outline: none;
}
.sign-btn
{
    background-color: rebeccapurple;
}
.twiter-btn
{
    background-color: rebeccapurple;
}
a
{
    text-decoration: none;
}
hr
{
    margin-top: 20px;
    width: 80%;
}
.or
{
    background: white
    width: 30px;
    margin: -
}
img
{
    width: 30px;
    margin-top: auto 10px;
}













